%ul.employers
  - @employers.each do |employer|
    %li
      .logo
        = image_tag(employer.logo_url)
      .content
        %h3= employer.name
        %p= employer.catch_phrase
      - cache(employer) do
        %ul.jobs
          - employer.jobs.faster.each do |job|
            %li
              %p= link_to job.title, "/jobs/#{job.slug}"
              %p
                Other names:
                = job.ontology_jobs.map(&:title).to_sentence
